ion-col {
  color: white;
  border-radius: 10px;
}

.col-en {
  background-color: rgb(201, 68, 91);
}

.col-dec {
  background-color: rgb(27, 136, 176);
}

button {
  color: white;
  font-size: 14pt;
  padding: 20px;
  border-radius: 20px;

  &.encode {
    background-color: rgb(201, 68, 91);
  }

  &.decode {
    background-color: rgb(27, 136, 176);
  }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
}